{ deps
, [ {clojerl, {git, "https://github.com/clojerl/clojerl.git", {ref, "d9c673b4d6fe277558b176d029aa790e3468cde4"}}}
  , {hiccup,  {git, "https://github.com/clojerl/hiccup.git", {branch, "clojerl"}}}
  , {lager,   "3.9.2"}
  , {cowboy,  "2.9.0"}
  , {jsx,     "2.10.0"}
  ]
}.

{plugins, [rebar3_clojerl]}.

{relx, [ { release
         , {try_clojerl, "0.1.0"}
         , [sasl, try_clojerl]
         }
       , {sys_config, "./config/sys.config"}
       , {vm_args, "./config/vm.args"}
       , {dev_mode, true}
       , {include_erts, false}
       , {extended_start_script, true}
       ]
}.

{ profiles
, [ { prod
    , [ {relx, [{dev_mode, false}, {include_erts, true}]}
      ]
    }
  ]
}.
