{deps
, [ {clojerl, ".*", {git, "https://github.com/jfacorro/clojerl.git", {branch, "master"}}}
  , {hiccup,  ".*", {git, "https://github.com/jfacorro/hiccup.git",  {branch, "clojerl"}}}
  , {lager,   "3.5.1"}
  , {cowboy,  "2.0.0"}
  , {jsx,     "2.8.2"}
  ]
}.

{ plugins
, [ {'rebar3_clojerl', ".*", {git, "https://github.com/clojerl/rebar3_clojerl", {branch, "compile-clojerl-deps-too"}}}
  ]
}.

{relx, [ { release
         , {try_clojerl, "0.1.0"}
         , [sasl, try_clojerl]
         }
       , {sys_config, "./config/sys.config"}
       , {vm_args, "./config/vm.args"}
       , {dev_mode, true}
       , {include_erts, false}
       , {extended_start_script, true}
       ]
}.

{ provider_hooks
, [{post, [{compile, {clojerl, compile}}]}]
}.

{ profiles
, [ { prod
    , [ {relx, [{dev_mode, false}, {include_erts, true}]}
      ]
    }
  ]
}.
