{erl_opts, [debug_info]}.

{clje_src_dirs, ["src"]}.

{deps
, [ {clojerl, ".*", {git, "https://github.com/jfacorro/clojerl.git", {branch, "jfacorro.add.clojerl.String.replace"}}}
  , {hiccup,  ".*", {git, "https://github.com/jfacorro/hiccup.git",  {branch, "clojerl"}}}
  , cowboy
  ]
}.

{ plugins
, [ {'rebar3_clojerl', ".*", {git, "https://github.com/clojerl/rebar3_clojerl", {branch, "compile-clojerl-deps-too"}}}
  ]
}.

{relx, [ { release
         , {'try-clojerl', "0.1.0"}
         , [sasl, 'try-clojerl']
         }
       , {dev_mode, true}
       , {include_erts, false}
       , {extended_start_script, true}
       ]
}.
