body {
    background-color: #FFF;
}

#terminal {
    border-radius: 5px;
    color: #FFF;
    text-shadow: 0 0 10px #FFF;
    height: 500px;
    width: 700px;
    margin: auto;
}

.prompt {
    color: #FFF;
    text-shadow: 0 0 10px #FFF;
}

.error {
    text-shadow: 0 0 20px #F00;
}
