html {
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

#content {
  width: 90%;
  margin: auto;
}

#header h1 {
  text-align: center;
  text-shadow: 0 0 5px #FFF;
  font-family: Andale Mono, monospace;
  color: white;
}

#footer {
  margin: 10px 0px;
  text-align: center;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 0.9em;
}

#footer a {
  margin: 0px 5px;
}

a:hover,
a:visited,
a:link,
a:active {
  color: white;
  text-shadow: 0px 0px 5px #FFF;
  text-decoration: none;
}

a:hover {
  text-shadow: 0px 0px 5px #333;
}

#ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

#forkongithub a {
  background: #fff;
  color: #000;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 1rem;
  line-height: 2rem;
  position: relative;
  transition: 0.5s;
}

#forkongithub a:hover {
  background: #ddd;
  color: #333;
}

#forkongithub a::before,
#forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #000;
}

#forkongithub a::after {
  bottom: 1px;
  top: auto;
}

@media screen and (min-width:800px) {
  #forkongithub {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
    z-index: 9999;
  }

  #forkongithub a {
    width: 200px;
    position: absolute;
    top: 60px;
    right: -60px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
  }
}

pre {
  margin: 0px;
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

#about,
#client-count {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  padding: 10px;
}

#about {
  background: rgba(0, 0, 0, 0.7);
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: white;
  text-align: justify;
}

#client-count {
  float: right;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  padding: 5px;
  font-family: monospace;
  font-size: 14px;
  color: white;
  text-shadow: 0 0 10px #FFF;
}

.terminal {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  padding: 10px;
  color: #CCC;
  font-family: monospace;
  height: 70vh;
}

.terminal div.terminal-wrapper {
  word-wrap: break-word;
  overflow-y: auto;
}

.terminal .cmd {
  background: transparent;
  color: #FFF;
  text-shadow: 0 0 10px #FFF;
}

.terminal,
.cmd,
.terminal .terminal-output>div>div,
.cmd .prompt {
  font-size: 1em;
  line-height: 1em;
}

.terminal .stdout {
  color: #FF0;
  font-family: monospace;
}

.terminal .stderr {
  color: #ef0505;
  font-family: monospace;
}

.terminal .result {
  color: #0FF;
  font-family: monospace;
}


/* Override color for cursor animation */

@-webkit-keyframes terminal-blink {

  0%,
  100% {
    background-color: transparent;
    color: #FFF;
  }

  50% {
    background-color: #bbb;
    color: transparent;
  }
}

@-ms-keyframes terminal-blink {

  0%,
  100% {
    background-color: transparent;
    color: #FFF;
  }

  50% {
    background-color: #bbb;
    color: transparent;
  }
}

@-moz-keyframes terminal-blink {

  0%,
  100% {
    background-color: transparent;
    color: #FFF;
  }

  50% {
    background-color: #bbb;
    color: transparent;
  }
}

@keyframes terminal-blink {

  0%,
  100% {
    background-color: transparent;
    color: #FFF;
  }

  50% {
    background-color: #FFF;
    color: transparent;
  }
}